---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Sobre mi';

const identity = {
  firstName: 'Gabriel',
  country: 'Argentina',
  occupation: 'Profesor y desarrollador de software',
  hobbies: ['Gimnasio', 'videojuegos', 'Asados'],
};

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Redacción de documentos',
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---


    <BaseLayout pageTitle={pageTitle} pageOrigin="about">
      
    
      <h2>... ¡y mi nuevo sitio Astro!</h2>

      <p>
        Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
        página de mi sitio web, ¡y es la primera que he construido yo mismo!
      </p>

      <p>
        Como apasionado desarrollador de software, siempre estoy en busca de nuevas tecnologías y herramientas que puedan mejorar y simplificar el proceso de desarrollo web. Mi interés por "Astro" surgió de mi deseo de explorar un enfoque más eficiente y moderno para la creación de aplicaciones web.
      </p>

      <p>
        Con años de experiencia en desarrollo de software y un amor por el aprendizaje continuo, me embarqué en un viaje para comprender a fondo las características, funcionalidades y potenciales aplicaciones de "Astro". A través de este blog, compartiré mis experiencias, éxitos, desafíos y descubrimientos mientras navego por este emocionante viaje de aprendizaje.
      </p>

      <h2>He aquí algunos datos sobre mí:</h2>
      <ul>
        <li>Me llamo {identity.firstName}.</li>
        <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Dos de mis aficiones son: {identity.hobbies[0]} y{' '}
              {identity.hobbies[1]}
            </li>
          )
        }
      </ul>
      <p>Mis habilidades son:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>

      {happy && <p>¡Estoy feliz de aprender Astro!</p>}
    </BaseLayout>

    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      li {
        font-size: 1.25rem;
      }
      /* .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      } */
    </style>